
.custom-scroll-table {
    height: 100%; /* Asegura que el contenedor ocupe toda la altura */
    width: 100%;
    overflow: auto; /* Habilita el desplazamiento */
  }
  
  .custom-scroll-table::-webkit-scrollbar {
    width: 10px; /* Ancho del scrollbar */
    height: 5px; /* Altura del scrollbar horizontal */
  }
  
  .custom-scroll-table::-webkit-scrollbar-thumb {
    background: #888; /* Color del thumb */
    border-radius: 10px; /* Redondear el thumb */
  }
  
  .custom-scroll-table::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del thumb al pasar el mouse */
  }
  
  .custom-scroll-table::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del fondo del scrollbar */
  }