.zoom-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.zoom-container img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease, transform-origin 0s ease;;
  
}

.zoom-container .zoomed img {
  transform: scale(1.5); /* Ajusta el nivel de zoom */
  cursor: zoom-in;
}

.zoom {
    position: relative;
    transition: transform 0.9s ease, transform-origin 0s ease;
    transform: scale(1.5); /* Ajusta el nivel de zoom */
    cursor: zoom-in;
  }